
  <div class="container d-flex justify-content-start" style="margin-top: 70px" >
    <%= link_to "Retour à la ferme", farm_path(@farm), class: "btn btn-clr btn-lg" %>
  </div>


<div class="container form-background mt-1" style="margin-top: 70px; max-width: 480px;">  
  <%= simple_form_for [@farm, @stock], method: "post", remote: true do |f| %>
    <%= f.association :product, label: false, collection: @products-@farm.products, input_html: { class: "input-search" } %>
    <%= f.submit "Ajouter", class: "btn btn-search", id: "submit-button" %>
  <% end %>

  
  <div class="list-background">
  <h5>Mes produits en stocks</h5>
  <% @farm.products.order(:name).each do |product| %>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <p class="product-name"><%= product.name %></p>
      <%= link_to "❌", farm_stock_path(@farm,product.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "cross", remote: true %>
    </div>
  <% end %>
  </div>
</div>
