<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_url('vegetable.jpg')%>)">
  <div>
    <h1 class="text-on-image">Farm'Eat</h1>
    <div class="form-wrapper mt-3">
      <form class="cf" action="/farms">
        <input name="address" type="text" placeholder="Lausanne, Cossonay, ...">
        <button type="submit">Rechercher</button>
      </form>
      <h2 class="text-on-image py-2">ou</h2>
      <%= link_to "Créer ma liste de courses", new_grocery_path, class: "btn-clr fixed" %>
    </div>
    <div class="curvy">
      <p class="curvy-text mr-3">Mais comment ça marche ?</p>
      <img src="<%= asset_url('arrow.png')%>" alt="" style=" width: 60px; cursor: pointer" id="image-click">
    </div>

  </div>
</div>
<<<<<<< HEAD
<div class="d-flex justify-content-around align-items-end container" style="margin-top: 140px; margin-bottom: 100px">
  <div class="how-to" style="position: relative; bottom: 40px;">
=======
<div class="d-flex justify-content-around align-items-end container" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="how-to">
>>>>>>> master
    <%= image_tag("undraw_Complete_task_re_44tb.svg", width:"80% !important") %>
    <h6>1. créer sa liste de course !</h6>
  </div>
  <div class="how-to" style="object-fit" >
    <%= image_tag("undraw_best_place_r685.svg", :class => "img_preview")%>
    <h6>2. générer son parcours optimisé</h6>
  </div>
  <div class="how-to" style="position: relative; bottom: 40px;">
    <%= image_tag("undraw_Successful_purchase_re_mpig.svg", width:"80%") %>
    <h6>3. récupérer ses produits</h6>
  </div>
</div>

