<div style="margin-top: 8em; margin-left: 10%; margin-right: 10%">
  <h1 class="my-5 list-title">Mes courses</h1>
  <div>
    <% @my_groceries.sort_by(&:created_at).to_enum.with_index.reverse_each do |list, i| %>
      <div class="my-farm-info" >
        <div class="flex-grow-1">
          <div class="grocery-info ">
            <h5><%= i+1 %>#</h5>
            <h6><span style="color: #a2a2a2;">Addresse: </span><%= list.created_at.strftime("%d/%m/%Y") %></h6>
            <h6><span style="color: #a2a2a2;">Départ: </span><%= list.start_address %></h6>
            <h6><span style="color: #a2a2a2;">Arrivée: </span><%= list.start_address %></h6>
          </div><span></span>
          <% list.products.order(:name).each do |product| %>
            <span class="product-tag"><%= product.name %></span>
          <% end %>
        </div>
        <div class="mr-3 ml-5">
          <%= link_to "voir", grocery_path(list), class:'text-decoration-none btn-clr fixed btn-lg'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
