<div class="mt-5 container">
  <h3><%= @grocery.id %># <%= @grocery.start_address %></h3>

  <ul>
  <% @grocery.products.each do |product|%>
    <li>
      <%= product.name %>
    </li>
  <% end %>
  </ul>

</div>

<div id="map2"
     style="width: 100%; height: 80vh; ; z-index: 9; transition: 0.2s;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     class="d-flex justify-content-center align-items-end">
</div>